@import '../../../variables.scss';

@mixin sm-flex-direction($direction-row-col) {
  display: flex;
  flex-direction: $direction-row-col;
}

.flex-container {
  @include sm-flex-direction(column);

  span {
      border: 1px solid rgb(229 229 225);
      box-shadow: 0px 0px 5px #f7f4f4;
      border-radius: $borderRadius;
      margin: 3px 3px 5px;

      @include sm-flex-direction(row);
      justify-content: space-between;
      
      input {
          font-size: 14px;
          padding: 6px;
          width: 100%;
          background: white;
    }

    section{
        padding: 8px 5px;
        color: rgb(215, 213, 170);
    }
  }


}
