.flex-container {
  background: transparent;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  .left-panel {
    width: 50%;
    background: rgba(0, 0, 0, 0.493);
    border: 10px solid rgb(187 177 85);
    height: fit-content;
    margin-block: 85px;
    padding: 30px;
    h1 {
      color: #ff9800;
    }
    p {
      color: rgb(15, 182, 233);
      font-size: 18px;
      line-height: 1.6;
    }
    .features {
      list-style: none;
      line-height: 1.6;
      font-size: 18px;
      padding: 0;
      color: #e0ba80;
    }
    .brand{
      color: #f5f4ef;
      font-weight: bolder;
    }
    .gatwick{
      margin-left: 5px;
      font-style: italic;
      font-size: 27px;
      color: #c2a213;
    }
    .btn {
      display: inline-block;
      margin-top: 20px;
      padding: 12px 20px;
      background: #ff9800;
      color: white;
      text-decoration: none;
      font-size: 18px;
      border-radius: 5px;
    }
    .btn:hover {
      background: #e68900;
    }
  }
}
