@import '../../../variables.scss';

.quote-section {
  padding: 0px;
  height: 100vh;
  margin-left: 0px;
  h2 {
    font-size: 36px;
    font-weight: 700;
    color: #222;
    margin-bottom: 40px;
    display: none;
  }
  .testimonials-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    .testimonial-item {
      width: 100%;
      text-align: center;
      padding: 20px;
      background: rgb(183, 218, 184);
      border-radius: $borderRadius;
      transition: background-color 0.3s, transform 0.3s;
      p{
        font-weight: bolder;
      }
      span{
        color: rgb(207, 168, 11);
      }
    }
  }
}
